.hiderow {
    visibility: collapse;
}

@media (min-width:900px) {

  .hiderow { 
    visibility: visible; }

}

td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3) {
    text-align: right;
}